/*  LOGOS */

.brand .brand-logo-dark,
.brand .brand-logo-light {
  width: 50px;
}

/* HERO SECTION */

#hero-section {
  padding: 0;
}

.hero-container {
  background: rgba(0, 0, 0, 0.5);
  max-width: 100%;
  padding: 2.5%;
}

.hero-container .call-now .phone-number {
  padding: 10px 0;
}

/* CALL NOW BUTTONS */
.call-now-buttons {
  background-color: blue;
  color: #fff;
  border-radius: 25px;
}

.call-now-buttons:hover {
  transform: scale(1.1);
  color: #fff;
}

.call-now-buttons:active {
  transform: scale(1);
  color: #fff;
}

.call-now-buttons:visited,
.call-now-buttons:focus {
  color: #fff;
}
/* UI UP ARROW */

@media (min-width: 576px) {
  .ui-to-top {
    left: 40px;
  }
}
