/** @section Header */

.header {
	padding: 25px 0;
	background-color: $body-bg;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;

	@media (min-width: 768px) {
		flex-direction: row;
	}
}

.header-contacts {
	text-align: center;
	margin-top: 15px;

	@media (min-width: 768px) {
		text-align: right;
		margin-top: 0;
	}
}

.header-place {
	padding-left: 20px;

	a {
		@include link( inherit, $primary )
	}

	&::before {
		content: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.77234 0.00404176C3.59349 0.11558 0.952658 2.59567 0.647567 5.76139C0.585237 6.39454 0.621323 7.008 0.732861 7.59522C0.732861 7.59522 0.742703 7.66411 0.775508 7.79533C0.873925 8.23492 1.02155 8.66139 1.20526 9.06162C1.84497 10.5772 3.32449 13.1131 6.6444 15.872C6.84779 16.0426 7.14632 16.0426 7.353 15.872C10.6729 13.1164 12.1524 10.5805 12.7954 9.05834C12.9824 8.65811 13.1268 8.23492 13.2252 7.79205C13.2547 7.66411 13.2678 7.59194 13.2678 7.59194C13.3433 7.19827 13.3826 6.79476 13.3826 6.38142C13.3826 2.77938 10.4006 -0.123899 6.77234 0.00404176ZM6.9987 9.55698C5.28625 9.55698 3.89859 8.16931 3.89859 6.45687C3.89859 4.74443 5.28625 3.35676 6.9987 3.35676C8.71114 3.35676 10.0988 4.74443 10.0988 6.45687C10.0988 8.16931 8.71114 9.55698 6.9987 9.55698Z' fill='%23FF6B18'/%3E%3C/svg%3E%0A");
		position: relative;
		margin-right: 9px;
		top: 2px;
	}
}
